version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: referral-backend
    restart: unless-stopped
    ports:
      - "5000:5000"
    environment:
      NODE_ENV: production
      PORT: 5000
      JWT_SECRET: f94540c025300e59fa8b12ba67ae8b0d3d7740882c29eedd40bff0208eb1cc5d0966304fa117b8df8f76054b7b518aa966090873099ac60a1cd3173d4684667a
      MONGODB_URI: mongodb+srv://addeveloper1604_db_user:n6X706WnlprhNCmX@cluster0.q3xu0ul.mongodb.net/referral-system?retryWrites=true&w=majority&appName=Cluster0
      FRONTEND_URL: "https://referral-system-amber.vercel.app/"

  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: referral-frontend
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      NEXT_PUBLIC_API_URL: "https://render.com/docs/web-services#port-binding/api"
    depends_on:
      - backend
